In [ ]:
테이블을 딕셔너리로 저장한뒤 포리움에 저장 
정규성 검증
정규성검증 샤피로 검증 
어떤 패키지에 어떤 메소드에 정규성검증을 따랐다.
데이터분석은 엄밀한 검증을 따라야한다. 
이프문 써서 맥스를 써서 가장 많은 역을 표현했다.

In [7]:
#2호선중에서 어느 역에서 승차가 가장 많이 발생할까? (Folium 역 표시)
import pandas as pd
import numpy as np
subway_raw = pd.read_csv('subway_raw.csv')
subway_raw

,사용일자,요일,노선명,역명,승차총승객수,하차총승객수,승하자총승객수,연월,월일,등록일자
0,2019-01-01,월,2호선,을지로4가,3862.0,3728.0,7590.0,2019-01,01-01,20190104
1,2019-01-01,월,3호선,을지로3가,8104.0,7554.0,15658.0,2019-01,01-01,20190104
2,2019-01-01,월,2호선,을지로입구,22478.0,21330.0,43808.0,2019-01,01-01,20190104
3,2019-01-01,월,2호선,시청,8381.0,6049.0,14430.0,2019-01,01-01,20190104
4,2019-01-01,월,6호선,동묘앞,8045.0,8504.0,16549.0,2019-01,01-01,20190104
...,...,...,...,...,...,...,...,...,...,...
107023,2019-06-30,토,7호선,마들,6622.0,6116.0,12738.0,2019-06,06-30,20190703
107024,2019-06-30,토,4호선,노원,14071.0,14702.0,28773.0,2019-06,06-30,20190703
107025,2019-06-30,토,7호선,중계,9516.0,8981.0,18497.0,2019-06,06-30,20190703
107026,2019-06-30,토,7호선,하계,11645.0,11121.0,22766.0,2019-06,06-30,20190703
107027,2019-06-30,토,6호선,태릉입구,5730.0,5214.0,10944.0,2019-06,06-30,20190703

In [24]:
df_subway = subway_raw.query('노선명 == "2호선"')\
                        .groupby('역명')\
                        .agg(n = ('승차총승객수','count'))\
                        .sort_values('n',ascending = False)

             n
역명
홍대입구       546
동대문역사문화공원  543
신도림        362
신당         362
시청         362
선릉         362
영등포구청      362
을지로4가      362
사당         362
잠실         362
신촌         362
충정로        362
건대입구       362
당산         362
종합운동장      362
교대         362
합정         362
역삼         181
아현         181
양천구청       181
잠실나루       181
한양대        181
잠실새내       181
용답         181
용두         181
신정네거리      181
이대         181
을지로입구      181
강남         181
신림         181
신대방        181
구로디지털단지    181
구의         181
까치산        181
낙성대        181
도림천        181
뚝섬         181
문래         181
방배         181
봉천         181
삼성         181
상왕십리       181
서울대입구      181
서초         181
성수         181
강변         181
신답         181

In [32]:
geo_seoul = pd.read_csv('지하철노선위경도정보2.csv')

        역이름  역지역         위도          경도   호선
0       낙성대  수도권  37.477090  126.963506  2호선
1        구룡  수도권  37.487027  127.059475  분당선
2     서울대입구  수도권  37.481285  126.952695  2호선
3        불광  수도권  37.610044  126.930302  3호선
4        월롱  수도권  37.796204  126.792563  경의선
..      ...  ...        ...         ...  ...
970     현충원   대전  36.359070  127.321793  1호선
971  월드컵경기장   대전  36.366849  127.317836  1호선
972      노은   대전  36.374130  127.317866  1호선
973      지족   대전  36.384093  127.319489  1호선
974      반석   대전  36.392253  127.314506  1호선

[975 rows x 5 columns]

In [34]:
geo_seoul.rename(columns = {'역이름':'역명'},inplace = True)

         역명  역지역         위도          경도   호선
0       낙성대  수도권  37.477090  126.963506  2호선
1        구룡  수도권  37.487027  127.059475  분당선
2     서울대입구  수도권  37.481285  126.952695  2호선
3        불광  수도권  37.610044  126.930302  3호선
4        월롱  수도권  37.796204  126.792563  경의선
..      ...  ...        ...         ...  ...
970     현충원   대전  36.359070  127.321793  1호선
971  월드컵경기장   대전  36.366849  127.317836  1호선
972      노은   대전  36.374130  127.317866  1호선
973      지족   대전  36.384093  127.319489  1호선
974      반석   대전  36.392253  127.314506  1호선

[975 rows x 5 columns]

In [36]:
new_geo_s = geo_seoul.query('호선 =="2호선"')

           역명  역지역         위도          경도   호선
0         낙성대  수도권  37.477090  126.963506  2호선
2       서울대입구  수도권  37.481285  126.952695  2호선
7          강변  수도권  37.535118  127.094723  2호선
8       영등포구청  수도권  37.525831  126.896668  2호선
10       잠실새내  수도권  37.511608  127.086301  2호선
..        ...  ...        ...         ...  ...
898  용산역 대구2호   대구  35.849060  128.528804  2호선
899        이곡   대구  35.850595  128.515794  2호선
900        임당   대구  35.834118  128.740837  2호선
901        정평   대구  35.834041  128.728662  2호선
902        죽전   대구  35.850717  128.538798  2호선

[123 rows x 5 columns]

In [38]:
#위도경도정보랑 승차총승객수 데이터 합치기
new_data = pd.merge(new_geo_s, df_subway, how = 'left', on = '역명')
index = len(new_data)

In [39]:
import folium
#배경지도만들기
map= folium.Map(location=[37.56,127], #지도중심좌표
          zoom_start = 12,         #확대단계
          tiles = 'cartodbpositron') #지도종류

#시각화
for i in index:
    folium.CircleMarker([new_data['위도'][i],new_data['경도'][i]],radius=new_data['n'],popup=new_data['역명'][i],color='#3186cc',fill_color='#3186cc').add_to(map)

TypeError: 'int' object is not iterable